.wopper {
    
    min-height: 100vh;
    min-width: 100%;
    padding: 20px;
    background-image: url("../images/row3-donation.png");
    background-size: cover;
}

/* Header styles */
.wopper h1 {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

/* Search input styles */
.wrapping {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}


.hrStyle hr{
    margin-left: 100px;
    margin-right: 100px;
    color: #000000;

}

.wrapping input {
    width: 50%; 
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px; 
    outline: none;
}


.organization-card {
    background-color: #d41052;    
    border: 1px solid #880430;
    padding: 20px;
    margin: 50px 50px 50px 145px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block; /* Display cards inline */
    min-width: 220px; /* Set minimum width for cards */
    color: #ffffff; /* Set text color to dark */
}

.organization-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.organization-card p {
    font-size: 18px; /* Increase font size */
}

/* Popup styles */
.organization-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup is on top of other content */
}

.organization-popup .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

.organization-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.organization-popup .close:hover {
    color: #333;
}